---
layout: archive
title: "Postdociot"
permalink: /postdociot/
author_profile: true
---

{% include base_path %}

Welcome to the Postdociot homepage. We are a group of postdocs that are women. 
<ul>
  <li> Join our <a href=Postdociot>https://www.facebook.com/groups/916327312206421/</a> facebook group. 
  <li> Follow us <a href=@Postdociot>https://twitter.com/postdociot</a> on twitter.
  <li> Sign up to <a href=recieve emails>https://forms.gle/b95uuGRsP9ikQYtGA</a> if you're not on social media. 
  <li> Tell us more about yourself to be [featured on our social media accounts](https://forms.gle/b95uuGRsP9ikQYtGA). 
  <li> Come back to our [homepage](https://mirikrupkin.github.io/postdociot/) to check what's new!


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

