---
layout: archive
title: "Postdociot"
permalink: /postdociot/
author_profile: true
---

{% include base_path %}

<p> Under construction! :) </p>

<p> Welcome to the Postdociot homepage. We are a group of postdocs that are women. </p>

<p> <a href="https://twitter.com/Postdociot?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @postdociot</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </p>
  
<ul>
  <li> Join our <a href="https://www.facebook.com/groups/916327312206421/">Postdociot</a> facebook group. 
  <li> Sign up to <a href="https://forms.gle/b95uuGRsP9ikQYtGA">recieve emails</a> if you're not on social media. 
  <li> Tell us more about yourself to be [featured on our social media accounts]<a href="https://forms.gle/b95uuGRsP9ikQYtGA">featured</a> on our social media. 
  <li> Come back to our <a href="https://mirikrupkin.github.io/postdociot/">homepage</a> to check what's new!


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
    
<p> </p>
<a class="twitter-timeline" href="https://twitter.com/postdociot?ref_src=twsrc%5Etfw">Tweets by postdociot</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
